<launch>

	<!--user configure parameters for ros start-->
	<arg name="lvx_file_path" default="livox_test.lvx"/>
	<arg name="bd_list" default="100000000000000"/>
	<arg name="xfer_format" default="0"/>
	<arg name="multi_topic" default="0"/>
	<arg name="data_src" default="0"/>
	<arg name="publish_freq" default="10.0"/>
	<arg name="output_type" default="0"/>
	<arg name="rviz_enable" default="true"/>
	<arg name="rosbag_enable" default="false"/>
	<arg name="cmdline_arg" default="$(arg bd_list)"/>
	<arg name="msg_frame_id" default="livox_frame"/>
	<arg name="lidar_bag" default="true"/>
	<arg name="imu_bag" default="true"/>
	<arg name="startup_timeout" default="45.0"/>
	<arg name="min_lidar_hz" default="5.0"/>
	<arg name="min_imu_hz" default="50.0"/>
	<arg name="takeover_video_address" default="true"/>
	<arg name="network_takeover_flag" value="$(eval '--takeover-video-address' if arg('takeover_video_address') else '')"/>
	<!--user configure parameters for ros end--> 

	<param name="xfer_format" value="$(arg xfer_format)"/>
	<param name="multi_topic" value="$(arg multi_topic)"/>
	<param name="data_src" value="$(arg data_src)"/>
	<param name="publish_freq" type="double" value="$(arg publish_freq)"/>
	<param name="output_data_type" value="$(arg output_type)"/>
	<param name="cmdline_str" type="string" value="$(arg bd_list)"/>
	<param name="cmdline_file_path" type="string" value="$(arg lvx_file_path)"/>
	<param name="user_config_path" type="string" value="$(find livox_ros_driver2)/config/MID360_config.json"/>
	<param name="frame_id" type="string" value="$(arg msg_frame_id)"/>
	<param name="enable_lidar_bag" type="bool" value="$(arg lidar_bag)"/>
	<param name="enable_imu_bag" type="bool" value="$(arg imu_bag)"/>

	<node name="livox_lidar_publisher2" pkg="livox_ros_driver2"
	      type="livox_ros_driver2_node" required="true"
	      launch-prefix="/usr/bin/python3 '$(find livox_ros_driver2)/scripts/start_mid360.py' --config '$(find livox_ros_driver2)/config/MID360_config.json' $(arg network_takeover_flag) --"
	      output="screen" args="$(arg cmdline_arg)"/>

	<node name="mid360_topic_check" pkg="livox_ros_driver2"
	      type="check_mid360_topics.py" required="true" output="screen">
		<param name="startup_timeout" value="$(arg startup_timeout)"/>
		<param name="min_lidar_hz" value="$(arg min_lidar_hz)"/>
		<param name="min_imu_hz" value="$(arg min_imu_hz)"/>
		<param name="xfer_format" value="$(arg xfer_format)"/>
	</node>

	<group if="$(arg rviz_enable)">
		<node name="livox_rviz" pkg="rviz" type="rviz" respawn="true"
				args="-d $(find livox_ros_driver2)/config/display_point_cloud_ROS1.rviz"/>
    </group>

	<group if="$(arg rosbag_enable)">
    	<node pkg="rosbag" type="record" name="record" output="screen"
          		args="-a"/>
    </group>

</launch>
